body {
   background-color: #fff5d0;
}
  header {
    background-color: brown;


   color: #F49B2F;
 }
  footer {
   background-color: brown;
   }
  nav a {
    background-color: red;
    color: #fef9ff;
    border: thin solid #0d1f2d;
    text-decoration: none;
    text-align: left;
    display:block;
    width: 100%;
  }
    table {
      width: 100%;
     margin: auto;
    }
    tr { height: 100%
    }
    th{
      background color : red;
      color: #f2eded;
    }
    tr:nth-child(odd){
      color: #red;
    }
    tr:nth-child(even) {
      background: brown;
    }
    tbody tr:nth-child(odd){
    background-color:red;
    }
}
a:link {
color: white;
}
/* visited link */
a:visited {
  color: #46D246;
}
/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: #46D246;
}
    img {
  float: center;
}
header {
  <center> 
}
