.jumbotron{
  text-align:center;
}
body {
   background-color: #fff5d0;
}
#frontSplash{
  text-align:center;
}
#mainImg{
  width:75%;
  height:75%;
  border-style:outset;
  border-color: brown;
  border-width:10px;
}
.slideShow {
margin:0 auto;
}
  header {
  background-color: brown;
  color: #F49B2F;
 }
  footer {
   background-color: brown;
   text-align: center;
   color: white;
   }
  nav a {
    background-color: orange;
    color: #fef9ff;
  }
  .nav-item{
  padding-left:20px;
  }
 .carousel-inner {

  }
  .leadText {
    margin-top: 100px
  }
    .menu {
    text-align: center;
  }
    table {
      width: 100%;
     margin: auto;

    }
    tr { height: 100%
    }
    th{
      background color : red;
      color: #f2eded;
    }
    tr:nth-child(odd){
      color: #red;
    }
    tr:nth-child(even) {
      background: brown;
    }
    tbody tr:nth-child(odd){
    background-color:red;
    }
    .avatar {
      text-align:center;
    }
}
a:link {
color: white;
}
/* visited link */
a:visited {
  color: #46D246;
}
/* mouse over link */
a:hover {
  color: darkblue;
}

/* selected link */
a:active {
  color: #46D246;
}
header {
  <center>
}
